  #notification-area {
    position:fixed;
    top:0px;
    right:10px;
    width:250px;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
  }
  #notification-area .notification {
    position: relative;
    padding:15px 10px;
    background:#111;
    color:#f5f5f5;
    font-family:"Raleway";
    font-size:14px;
    font-weight:600;
    border-radius:5px;
    margin:5px 0px;
    opacity:0;
    animation:showNotification 500ms ease-in-out forwards;
  }
  @keyframes showNotification {
    to {
      opacity:1;
      left:-30px;
      bottom: 10px;
    }
  }

  #notification-area .notification.error {
    color: #111;
    width: 350px;
    max-width: 100%;
    font-size: .875rem;
    pointer-events: auto;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    border-radius: 0.25rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }